/* колір основного тексту #212121 */
/* колір заголовків #212121 */
/* вторинний колір тексту #757575 */
/* колір основного фону #FFFFFF */
/* вторинний колір фону #2f303a */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --black-color: #000000;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --curiousblue-color: #188ce8;
  --gallery-color: #eeeeee;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --bombay-color: #afb1b8;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.image {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Логотип */

.logo {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basement {
  display: flex;
  align-items: baseline;
}
.header {
  border-bottom: 1px solid #ececec;
}
.logo__item {
  color: var(--black-color);
}
.logo__item--color-white {
  color: var(--primary-white-color);
}

/*  Навігація  */
.nav {
  display: flex;
  align-items: center;
}
.font {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__list {
  margin-left: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  position: relative;

  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-contact__item:last-child {
  margin-left: 30px;
}
.header-contact__icon-wrapper {
  vertical-align: text-bottom;
  margin-right: 10px;
  font-size: 0;
}
.header-contact__icon {
  fill: currentColor;
}
.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  Герой  */

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.hero-title {
  max-width: 696px;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > .button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}
.modal .modal-icon {
  fill: var(--black-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal > .button:hover .modal-icon,
.modal > .button:focus .modal-icon {
  fill: var(--accent-color);
}

/* Форма заявки а модальному вікні */

.modal-form-title {
  display: inline-flex;

  margin-bottom: 12px;

  color: var(--title-text-color);

  font-size: 20px;
  line-height: 1.15;
}
.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  text-align: left;
}
.modal-form-field.indent {
  margin-bottom: 20px;
}
.modal-form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-wrapper {
  position: relative;

  color: var(--title-text-color);
}
.modal-form-input {
  width: 100%;
  max-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 15px;

  color: var(--title-text-color);
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  fill: currentColor;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-comment {
  padding: 12px 16px;
  min-height: 120px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
  margin-bottom: 30px;
}
.modal-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-checkbox-label .modal-checkbox-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--black-color);

  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-policy-check {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-policy:focus + .modal-checkbox-label .modal-checkbox-icon {
  outline: 1px solid var(--accent-color);
}
.modal-form-policy:checked + .modal-checkbox-label .icon-policy-check {
  opacity: 1;
}
.modal-form-policy:checked + .modal-checkbox-label .modal-checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-link {
  color: var(--accent-color);
}
.form > .button,
.modal-form .button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .button {
  margin: 0 auto;
  padding: 10px 52px;
}

/*  Секція  */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.indent {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section .section-title {
  margin-bottom: 50px;
}

/*  Якості  */

.qualities-list {
  display: flex;
}
.qualities-list > .item,
.team-list > .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.qualities-list .icon-wrapper {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: var(--third-background-color);
}

.qualities-list .item:last-child,
.team-list .item:last-child {
  margin-right: 0px;
}

.qualities-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.qualities-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/*  Профіль  */

.profile {
  display: flex;
}
.profile .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.profile .item:not(:last-child) {
  margin-right: 30px;
}
.profile .trumb {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
.trumb .text {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Команда */

.section.team-bg {
  background-color: var(--third-background-color);
}
.team-list {
  display: flex;
}
.team-list > .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .item-body {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: inherit;
}
.team-list .image,
.team-list .text,
.team-list .title {
  margin-top: 0;
  margin-bottom: 0;
}
.team-list .title {
  margin-bottom: 10px;
}
.team-list .text {
  margin-bottom: 16px;
}
.socials {
  line-height: 0;
  display: flex;
  justify-content: center;
}
.socials .item {
  margin-right: 10px;
}
.socials .item:last-child {
  margin-right: 0;
}
.socials .link-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials.team .link-socials {
  background-color: var(--primary-white-color);
  color: var(--bombay-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials .link-socials:hover,
.socials .link-socials:focus {
  background-color: var(--accent-color);
}

.socials.team .link-socials:hover,
.socials.team .link-socials:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.socials .link-socials {
  color: inherit;
}
.link-socials > .item-icon {
  fill: currentColor;
}

/* Постійні клиенти */

.client-list {
  display: flex;
}
.client-list > .item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;

  color: var(--bombay-color);
}
.client-list > .item:last-child {
  margin-right: 0;
}
.client-link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bombay-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
.client-list .client-link:hover,
.client-list .client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client-link .item-icon {
  fill: currentColor;
}

/*  Футер  */

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo.indent {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  color: var(--primary-white-color);
  min-width: 231px;

  font-style: inherit;
}
.address-contact .link {
  color: var(--transparent-white-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact {
  margin-top: 9px;
}
.address-contact .item:first-child {
  margin-bottom: 9px;
}
.footer-socials,
.footer-distribution {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-socials {
  margin-left: 70px;
}
.footer-distribution {
  margin-left: 93px;
}
.footer-socials > .text,
.footer-distribution > .text {
  display: inline-flex;
  margin-bottom: 20px;
}
.socials-list,
.form {
  display: flex;
}

/* Форма підписки на розсилання у футері. */

.form-input {
  min-width: 358px;
  padding: 0px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-input,
.form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.form-input::placeholder {
  color: var(--transparent-white-color);
}
.form > .button {
  padding: 10px 28px;
  margin-left: 12px;
  min-width: 200px;
}
.button-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*  Кнопка  */

.button {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  padding: 10px 32px;
  border-width: 0;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus,
.form > .button:hover,
.form > .button:focus,
.modal-form .button:hover,
.modal-form .button:focus {
  background-color: var(--curiousblue-color);
}

/*  Портфоліо  */

/*  Фільтр  */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item {
  margin-right: 8px;
}
.filter .item:last-child {
  margin-right: 0;
}
.button.portfolio {
  padding: 6px 22px;
  border-width: 0;
  min-width: 67px;
  background-color: var(--third-background-color);

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.current,
.button.portfolio:hover,
.button.portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  Роботи  */

.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--primary-white-color);
}
.works-list .link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .item:nth-child(3n) {
  margin-right: 0px;
}
.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.works-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-trumb {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
}
.trumb-text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list .link:hover .trumb-text,
.works-list .link:focus .trumb-text {
  opacity: 1;
}
.works-list .link:hover .works-overlay,
.works-list .link:focus .works-overlay {
  transform: translateY(0);
}

.trumb-text > .text {
  margin: 0;
  min-width: 322px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
.frame {
  border-left: 1px solid var(--gallery-color);
  border-right: 1px solid var(--gallery-color);
  border-bottom: 1px solid var(--gallery-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.frame .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
.works-list .link:hover,
.works-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
