








/*  Герой  */



/* Модальне вікно */



/*  Секція  */



/*  Якості  */




/*  Профіль  */



/* Команда */





/* Постійні клиенти */



/*  Футер  */





/* .footer-socials,
.footer-distribution {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
} */

/* .footer-socials > .text,
.footer-distribution > .text {
  display: inline-flex;
  margin-bottom: 20px;
} */


/* Форма підписки на розсилання у футері. */





/*  Кнопка  */



/*  Портфоліо  */

/*  Фільтр  */


/*  Роботи  */





