.address {
    color: var(--primary-white-color);
    min-width: 231px;
  
    font-style: inherit;
  }
  .address__contact {
    margin-top: 9px;
  }
  .address__contact-item:first-child {
    margin-bottom: 9px;
  }
  .address__contact-link {
    color: var(--transparent-white-color);
  }