.logo {
    color: var(--accent-color);
  
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .footer__logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  .logo__item {
    color: var(--black-color);
  }
  .logo__item--color-white {
    color: var(--primary-white-color);
  }