.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
.container--header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.container--footer-flex {
    display: flex;
    align-items: baseline;
  }